@import url('https:/fonts.googleapis.com/css2?family=SUSE&family=Changa:wght@100..800&family=Handjet:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;



html.theme-transition,
html.theme-transition *:before
html.theme-transition *:after {
  transition: all 0.5 !important;
  transition-delay: 0 !important;
} 


.theme-transition button,
.theme-transition input,
.theme-transition select,
.theme-transition textarea,
.theme-transition a {
  transition: all 0.5s ease !important;
}


.theme-transition [class*="bg-"], 
.theme-transition [class*="text-"], 
.theme-transition [class*="border-"] {
  transition: background-color 0.8s ease,
              color 0.8s ease,
              border-color 0.8s ease !important;
} 

html {
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  
}






@font-face {
  .suse-<uniquifier> {
    font-family: "SUSE", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  }
}

@font-face {
  .changa-<uniquifier> {
    font-family: "Changa", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  }
}

@font-face {
  .handjet-<uniquifier> {
    font-family: "Handjet", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
      "ELGR" 1,
      "ELSH" 2;
  }
}
.transform-style-[preserve-3d] {
  transform-style: preserve-3d;
}

.rotate-x-[-90deg] {
  transform: rotateX(-90deg);
}

.transform-origin-[bottom_center] {
  transform-origin: bottom center;
} */


html.lenis, html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}

.hx-10 {
  --color-highlight-start: currentColor;
  background-color: transparent !important; 
}

.hx-10 .word {
  position: absolute;
}

.hx-10 .word:last-child {
  position: relative;
}


.hx-10.bg-transparent {
  background: none;
  text-decoration: none;
}
